iframe {
    width: 1200px;
}
.heroVideo {
    
    position: absolute;
    top: -9999px;
    left: -9999px;
    opacity: 0;

}
.tagline {
     padding: 1.4em 0;
    width: 50%;
 }
#toggleFullScreen {
    position: relative;
    padding-left: 3.5rem;
    text-align: left;
}
.hero-fitness .secondary {
    background: 0 0;
    border-color: #FFF;
    color: #FFF;
}
button.secondary#toggleFullScreen {
    padding-left: 2.7em;
    padding-right: 2.7em;
}
button .playIco::after {
    content: "";
    width: 0;
    height: 0;
    margin-left: .85rem;
    margin-top: .725rem;
    border-style: solid;
    border-width: .35rem 0 .35rem .6rem;
    border-color: transparent transparent transparent #2A93D5;
    float: left;
}
button .playIco {
    width: 2.15rem;
    height: 2.15rem;
    position: absolute;
    top: 1rem;
    right: 2rem;
    border-radius: 2rem;
    background: #FFF;
}
.buttonWrapper {
    display: flex;
    justify-content: center;
}
.svgPlayWrapper {
    height: 2.25em;
    width: 2.25em;
    display: block;
}
.svgPlayWrapper .svgRespCont {
    display: block;
}
button .wrap-vidText {
    display: block;
/*    padding-right: .6em;*/
    padding-right: 2em;
    text-align: center;
    font-weight: 100;
    align-content: center;
    align-self: center;
    align-items: center;
}
/* temp */
.buttonWrapper .wrap-vidText {
    padding-right: .6em;
} 
button .playV, button .learnMore {
    display: block;
}
button .playV {
    font-size: 1.125em;
    
}
.learnMore {
    font-size: .8em;
    padding-top: .2em;
}
header>.container {
    max-width: inherit;
    margin: 0 1em;
    padding: 0;
}

.container-full > .row {
    display: block;
}
.container-full {
    overflow: hidden;

}
.hero-fitness {
    height: auto;
    position: relative;
    
  background-position: 50%;
    
    background: url(https://activeandfitdirect.com/Global/images/AFD/background/afd-hero_desk.jpg) top center no-repeat;
    background-size: cover;
    text-align: center;
   
    padding-bottom: 2em;
    padding-top: 2em;
}
@media only screen and (max-width: 500px) {
    .hero-fitness {
        background: url(https://activeandfitdirect.com/Global/images/AFD/background/afd-hero_mob.jpg) 84% 0 no-repeat;
        background-size: cover;
    }
}
.headerLinks-login {
     display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    white-space: nowrap;
    float: right;
    padding-right: 1.4em;
 }

.mobileLogoCont {
    -webkit-flex: 0 1 auto;  
    -ms-flex: 0 1 auto;
      flex: 0 1 auto;  
     display: -webkit-flex;  
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0;
}
.hero-fitness:after {
    content: "";
    width: 13rem;
    height: 13rem;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 0;
    background: #762B85;
    background: linear-gradient(315deg,#762B85,#762B85 50%,transparent 30%);
    opacity: .8;
}

 .isHome .main-container.hero-container {
    padding-top: 6.3rem;
   
}
 .loginForm {
   
    padding: 2rem 7rem;
}
.loginForm input {
    border-color: #979797;
 }
.loginForm input[type=submit] {
    border-color: transparent;
}
.loginForm h1 {
    font-size: 1.875em;
    line-height: normal;
}
.heroTxt {
    text-align: left;
    color: #fff;
    -webkit-flex-basis: 54%;
    -ms-flex-preferred-size: 54%;
    flex-basis: 54%;
}
.heroBadge {
    -webkit-flex-basis: 44%;
    -ms-flex-preferred-size: 44%;
    flex-basis: 44%;
    align-self: flex-end;
    padding-left: 8em;
    
}
.heroBadge.pad-left {
    padding-left: 18%;
}
.heroTxt h1 {
    font-size: 6em;
    font-weight: 400;
 }
.heroTxt > .svgRespCont {
    width: 80%;
    height: auto;
    margin-bottom: 1.5em;
    padding-top: 2em;
}
.heroTxt h1 span {
    line-height: 80%;
 }
.heroTxt .h1-words, .heroTxt .h1-fitness {
    display: block;
    color: #fff;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
}
.heroTxt .h1-fitness {
    color: #FFDC4F;
}
.heroTxt .h1-words {
    padding-bottom: .2em;
}
.hero .heroBadge .svgRespCont svg {
    position: absolute;
}
.heroCont {
    position: relative;
    z-index: 5;
    padding: 0 5%;
}

.leadCopy {
    font-weight: 300;
    width: 100%;
}
.flexbox-item-grow {
    flex: 1;
}

.page-wrapper {
     width: 100%;
    height: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    
    justify-content: flex-start; /* align items in Main Axis */
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch; /* align items in Cross Axis */
    -webkit-align-content: stretch;
    
    align-content: stretch; /* Extra space in Cross Axis */
 }
.learn-btn {
    border: 2px solid #fff;
    padding: .5em;
    border-radius: 8px;
    width: 11em;
    padding: .5em 1.5em .7em
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: justify;
      position: relative;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.learn-btn .learn-btnTxt, .learn-btn .learn-playbtn {
    align-content: center;
    align-items: center;
}
.learn-btn .learn-playbtn {
    padding-left: .6em;
}
.learn-btn .learn-btnTxt {
    padding: .3em .4em 0 .8em;
}
.trademark {
    font-size: .7em;
}


footer {
    z-index: 1;
    display: block;
}
@media only screen and (min-width: 767px)  
 {
     
     .tagline {
         width: 80%
     }
     .heroTxt > .svgRespCont {
        margin-left: 0;
     }
     .isHome .main-container.hero-container {
        
         -webkit-flex-grow: 1;
        flex-grow: 1;
        -webkit-flex-shrink: 0;
        flex-shrink: 0;
        -webkit-flex-basis: auto;
        flex-basis: auto;
    }
     .heroCont {
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;

        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
     }
     .hero-fitness {
         display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;

            /* -webkit-justify-content: center; */
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-justify-content: center;
        background-position: center center;

    /*    min-height: 30em;*/

        flex-flow: row wrap;
        height: 100%;
     }
     
     .fill-area {
         display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        flex-direction: row;

        justify-content: flex-start; /* align items in Main Axis */
        align-items: stretch; /* align items in Cross Axis */
        align-content: stretch; /* Extra space in Cross Axis */
        min-height: 66vh;
         
    }
     .hero-fitness{
        -webkit-flex-basis: 45%;
        -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
         padding-bottom: 4em;
         min-height: 66vh;
     }
     .hero-fitness-login  {
        -webkit-flex-basis: 55%;
        -ms-flex-preferred-size: 55%;
        flex-basis: 55%;
         display: -webkit-flex;
            display: -ms-flexbox;
         display: flex;
         align-items: center;
         padding-bottom: 2em;
     }
     .container-full > .row {
        display: -webkit-flex;
    display: -ms-flexbox;
         display: flex;
        margin: 1em;
          -webkit-box-align: stretch;
        -ms-flex-align: stretch;
        -ms-grid-row-align: stretch;
        align-items: stretch;
         height: 104%;
    }
     .headerLinks-login {
         display: none;
     }
 }
@media only screen and (max-width: 1700px)  
 {
     .hero-fitness {
        background-position: 57%;
    }
}
@media only screen and (max-width: 1400px)  
 {
/*
      .loginForm {
        padding: 2rem 5rem 2rem 7rem;
    }
*/
     .hero-fitness {
         background-position: 50%;
         
        -webkit-flex-basis: 54%;
        -ms-flex-preferred-size: 54%;
        flex-basis: 54%;
      
    }
     .hero-fitness-login {
         -webkit-flex-basis: 44%;
        -ms-flex-preferred-size: 44%;
        flex-basis: 44%;
         }
     .heroBadge {
         padding-left: 5em;
     }
     .heroBadge.pad-left {
         padding-left: 18%;
     }
}
@media only screen and (max-width: 1200px)  
 {
     .heroBadge {
         flex: 29% 0 0;
         padding-left: 0;
        }
      .hero-fitness {
        background-position: 55%;
    }
 .heroBadge.pad-left {
         padding-left: 2%;
     }
     .hero-fitness {
        -webkit-flex-basis: 55%;
        -ms-flex-preferred-size: 55%;
        flex-basis: 55%;
      
    }
     .hero-fitness-login {
         -webkit-flex-basis: 45%;
        -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
         }
 
}
@media only screen and (max-width: 1150px)  
 {
     .hero-fitness{
    background-position: 60%;

     }
     .loginForm {
        padding: 2rem 4rem;
    }
 }
@media only screen and (max-width: 1080px)  
 {
     .tagline {
         width: 70%;
     }
     .hero-fitness{
    background-position: 62%;

     }
     .heroBadge {
         display: none;
     }
     .heroTxt {
         -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
     }
     
     .heroTxt > .svgRespCont {
        width: 70%;
     }

 }
@media only screen and (max-width: 900px)  
 {
     .hero-fitness{
        background-position: 60%;

     }
 }


@media only screen and (max-width: 768px) {
    .isHome .main-container.hero-container {
        padding-top: 5rem;

    }
    .heroBadge {
        display: none;
    }
    .heroTxt > .svgRespCont {
        padding-top: 4em;
        width: 56%;
    }
    
    .heroTxt {
      display: block;
    }
     .heroTxt .btn-cont {
        max-width: 20em;
    }
}
@media only screen and (max-width: 500px)
{
    .tagline {
        width: 70%;
     }
    .hero-fitness-login {
        max-width: inherit;
    }
    .heroTxt .btn-cont {
        max-width: 20em;
    }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active){
    .hero-fitness-login {
        flex-basis: 40vw;
        min-height: 100vh;
    }
    .hero-fitness {
        flex-basis: 60vw;
        min-height: 100vh;
    }
    .heroCont {
        padding-bottom: 4em;
        flex-basis: 53vw;
    }
    .heroBadge.pad-left {
        padding-bottom: 3em;
        padding-left: 35%;
    }
    .tagline {
        width: 100%;
    }
    
}
@media only screen and (max-width: 768px) {
    .hero-fitness-login {
        height: auto;
    }
}
/* survey styles */
.is-home header.survey-header, .isHome header.survey-header, header.survey-header {
    background-color: #6a2c91;
    position: relative;
    padding: 2.3em 3em;
}

header.survey-header:after {
    content: "";
    width: 13rem;
    height: 13rem;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 0;
    background: #762B85;
    background: linear-gradient(315deg,#00aae7,#00aae7 50%,transparent 30%);
    opacity: .8;
}
header.survey-header .logo a svg {
    max-height: 6em;
    max-width: 13em;
}
footer.survey-footer {
        background-color: #00aae7;
    }


@media only screen and (max-width: 767px) {
    .is-home header.survey-header, .isHome header.survey-header, header.survey-header  {
        opacity: 1;
        z-index: auto;
        width: 100%;
        height: auto;
    }
    header.survey-header .logo {
        display: block;
    }
    .heroCont {
        height: auto;
    }
    .hero-fitness {
        height: auto;
    }
    
}
.isHome .main-container.survey-container {
    padding-top: 0;
    
}
